:root{
    --color-primary: #ffffff;
    --color-secondary: #21759b;
    --color-terciary: #1b5f7d;
    --color-quarter: #E5EAEF;
    --font-primary:  'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: var(--font-primary);
}
.header{
    position: fixed;
    width:100%;    
}
.nav-menu{
    display: flex;
    padding-left: 2.5rem;
    background-color: var(--color-primary);
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.h-l-figure{
    position: relative;
    height: 50px;
    transition: 0.05s;
    left: 0;
}
.h-l-figure img{
    height: 100%;
}
.nav-menu-ul{
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: space-between;
}
.nav-menu-ul a{
    text-decoration: none;
    padding: 1.3rem;
}
.nav-menu-ul a:hover{
    color: var(--color-primary);
    background-color: var(--color-secondary);
}
.menu{
    display: flex;
    align-items: center;
}
#toggler, .nav-menu label{
    display: none;
}
.container{
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-terciary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    line-height: 1.5;
    padding: 30px 0 30 px;
    transition: 0.2s;
}
.container h1{
    font-family: var(--font-secondary);
    color: var(--color-primary);
    transition: 0.2s;
}
.container p{
    font-family: var(--font-secondary);
    color: var(--color-primary);
    transition: 0.2s;
}
.main{
    padding-top: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50rem);
    gap: 3.5rem;
    place-content: center;
    padding-bottom: 2.4rem;
}
.box h1{
    font-size: 5rem;
    font-family: var(--font-secondary);
    color: var(--color-secondary);

}
.box p{
    font-size: 2rem;
    font-family: var(--font-secondary);
    color: var(--color-secondary);
}

h1{
    font-size: 5rem;
    font-family: var(--font-secondary);
    color: var(--color-primary);
}
p, a{
    font-size: 2rem;
    text-decoration: none;
}
.video-nuestroProceso{
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-secondary);
    border-radius: 9rem;
}

.foot{
    width:100%;
    height:8rem;
    background: var(--color-secondary);
    border-top: 2px solid var(--color-terciary);
}
.f-menu p{
    color: var(--color-primary);
}


@media (max-width: 640px){
    .container{
        padding: 0;
    }
    .menu{
        width: 100%;
        max-height: 0;
        overflow:  hidden;
        flex-direction: row-reverse;
    }
    .nav-menu{
        padding: 0 2.5rem 0 2.5rem;
    }
    .nav-menu label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
    #toggler:checked ~ .menu{
        max-height: 100%;
    }
    .nav-menu-ul{
        flex-direction: column;
        align-items: flex-end;
        column-gap: 1rem;
    }
    .nav-menu-ul li{
        border-bottom: 1px solid var(--color-secondary);
        padding: 0 0 1rem;
    }
    .main{
        gap: 2rem;
        padding: 18rem 0 24rem 0;
    }
    .ri-menu-line{
        background-image: url(../assets/icons/menu.png);
        height: 3rem;
        width: 3rem;
        color: var(--font-secondary);
    }
    .section{
        justify-content: space-around;
    }
    .sec-info{
        padding-left: 3rem;
    }
    .sec-info h1{
        font-size: 4rem;
    }
    .sec-info p{
        padding-left: 0rem;
        font-size: 1.5rem;
        font-family: var(--font-primary);
    }
    .nav-menu-ul a{
        text-decoration: none;
        font-size: 3rem;
        padding: 0.1rem;
    }
    .nav-menu-ul a:hover{
        color: none;
        background-color: none;
    }

}