:root{
    --color-primary: #ffffff;
    --color-secondary: #21759b;
    --color-terciary: #1b5f7d;
    --color-quarter: #E5EAEF;
    --font-primary:  'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
}
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
.header{
    position: fixed;
    width:100%;    
}
.nav-menu{
    display: flex;
    padding-left: 2.5rem;
    justify-content: space-between;
    background-color: var(--color-primary);
}
.nav-menu-ul{
    display: flex;
    width: 50%;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
.nav-menu-ul a{
    text-decoration: none;
    font-family: var(--font-primary);
    padding: 2rem;
}
.nav-menu-ul a:hover{
    color: var(--color-primary);
    background-color: var(--color-secondary);
}
.container{
    background-color: var(--color-secondary);
    border-bottom: 2px solid var(--color-terciary);
    color: #fff;
    line-height: 1.5;
    padding-top: 30px;
    padding-bottom: 30px;
}
.main{
    padding-top: 14.8rem ;
    display: flex;
    flex-direction: column;
}
.box{
    height: auto;
    width: auto;
}
.m-box1{
    width: 100%;
}
.m-box1-fig{
    width: 100%;
}
.m-box1-fig-img{
    width: 100%;
    height: 100%;
}


.section{
    display: flex;
    align-items: center;
    background-color: var(--color-quarter);
    justify-content: space-between;
}
.sec-fig{
    width: 40%;
    height: 40%;
    background: var(--color-primary);
}
.sec-fig-img{
    width: 100%;
    height: 100%;

}
.sec-info{
    width:40%;
    height: 80%;
    padding-left: 10rem;    
}
h1{
    font-size: 5rem;
    font-family: var(--font-secondary);
    color: var(--color-terciary);
}
p, a{
    font-size: 2rem;
    font-family: var(--font-primary);
    color: var(--color-secondary);
}

.foot{
    width:100%;
    height:8rem;
    background: var(--color-secondary);
    border-top: 2px solid var(--color-terciary);
}
.f-menu p{
    color: var(--color-primary);
}